
nav {
  .container-fluid {
    .navbar-brand {
      img {
        height: 5.5vh;
        padding-left: 1%;
      }
     
    }
  }
}

.mode {
  margin-left: 2%;
}

.btn:hover{
  background-color :#1938a5;
}
